section.hero
  .hero-body
    .container
      h1.title= title
      h3.subtitle= url

  .box
    article.media
      .media-left
        figure.image.is-128x128
          img.license(src="img/mit.png")
      .media-content
        .content.is-small
          ul
            li Bulma (0.6.x)
            li Font Awesome (4.x)
            li jQuery (3.2.x)
          p 
            em MIT License logo for the purpose of the /img folder
        nav.level.is-mobile
          .level-left
            a.level-item(href=github)
              span.icon
                i.fa.fa-github
    
      